button {
    margin: 0 50px;
    width: 100px;
}

img {
    width: 400px;
    margin: 0;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}